A primeira empresa, Bloco de Código, precisa de um dashboard para monitorar a sua campanha de marketing durante o ano que a campanha foi realizada.

![](assets/logo-bloco-de-codigo.png)

### Explorando os dados

In [39]:
import pandas as pd
import numpy as np

In [40]:
dados_artigos = pd.read_csv("assets/campanha bloco de código - Artigos.csv")
dados_artigos.describe()

,Campanha,Visitas Diretas,Novos usuários únicos,Clicks pagos,Clicks redes sociais,Vezes pesquisados
count,14104.0,14104.000000,14104.000000,14105.000000,14104.000000,14104.000000
mean,1047.0,93.232420,116.103359,1.596260,144.395955,61.220490
std,0.0,158.550484,174.454669,25.763735,194.516718,128.602467
min,1047.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1047.0,11.000000,15.000000,0.000000,19.000000,6.000000
50%,1047.0,32.000000,45.000000,0.000000,61.000000,16.000000
75%,1047.0,97.000000,137.250000,0.000000,187.000000,51.000000
max,1047.0,999.000000,998.000000,842.000000,998.000000,998.000000

In [41]:
dados_artigos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14105 entries, 0 to 14104
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Article URL                 14104 non-null  object
 1   Nome do artigo              14104 non-null  object
 2   Categoria                   14104 non-null  object
 3   Campanha                    14104 non-null  float64
 4   Data                        14104 non-null  object
 5   Visitas Diretas             14104 non-null  float64
 6   Novos usuários únicos       14104 non-null  float64
 7   Clicks pagos                14105 non-null  float64
 8   Tempo de leitura (minutos)  14104 non-null  object
 9   Clicks redes sociais        14104 non-null  float64
 10  Vezes pesquisados           14104 non-null  float64
 11  Visualizações               14104 non-null  object
dtypes: float64(6), object(6)
memory usage: 1.3+ MB

In [42]:
# Informação da quantidade de colunas e linhas
dados_artigos.shape

(14105, 12)

In [43]:
(dados_artigos.isnull().sum() / dados_artigos.shape[0]) * 100

Article URL                   0.00709
Nome do artigo                0.00709
Categoria                     0.00709
Campanha                      0.00709
Data                          0.00709
Visitas Diretas               0.00709
Novos usuários únicos         0.00709
Clicks pagos                  0.00000
Tempo de leitura (minutos)    0.00709
Clicks redes sociais          0.00709
Vezes pesquisados             0.00709
Visualizações                 0.00709
dtype: float64

### Transformando Dados

In [49]:
# Apagando dados NaN - menos de 1%, no caso uma linha que havia total
dados_artigos.dropna(inplace=True)

In [84]:
dados_artigos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14104 entries, 0 to 14103
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Article URL                   14104 non-null  object
 1   Nome do artigo                14104 non-null  object
 2   Categoria                     14104 non-null  object
 3   Campanha                      14104 non-null  float64
 4   Data                          14104 non-null  datetime64[ns]
 5   Visitas Diretas               14104 non-null  float64
 6   Novos usuários únicos         14104 non-null  float64
 7   Clicks pagos                  14104 non-null  float64
 8   Tempo de leitura (minutos)    14104 non-null  int64
 9   Clicks redes sociais          14104 non-null  float64
 10  Vezes pesquisados             14104 non-null  float64
 11  Visualizações                 14104 non-null  int64
 12  TotalCliques                  14104 non-null  float64
 13  CTR                           14097 non-null  float64
 14  PercentualCliqueRedesSociais  13209 non-null  float64
 15  PercentualVezPesquisado       14097 non-null  float64
 16  PercentualCliquesPagos        14097 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(2), object(3)
memory usage: 1.9+ MB

In [61]:
# Convertando string em datetime
dados_artigos["Data"] = pd.to_datetime(dados_artigos["Data"])

In [64]:
# Trantando Coluna Tempo de Leitura removendo espaços
dados_artigos["Tempo de leitura (minutos)"] = dados_artigos["Tempo de leitura (minutos)"].str.strip()

In [65]:
# Trantando Coluna Tempo de Leitura removendo pontos
dados_artigos["Tempo de leitura (minutos)"] = dados_artigos["Tempo de leitura (minutos)"].str.replace(".", "")

In [67]:
# Trantando Coluna Tempo de Leitura convertendo de string para int
dados_artigos["Tempo de leitura (minutos)"] = pd.to_numeric(dados_artigos["Tempo de leitura (minutos)"])

In [69]:
# Trantando Coluna Visualizações removendo espaços
dados_artigos["Visualizações"] = dados_artigos["Visualizações"].str.strip()

In [70]:
# Trantando Coluna Visualizações removendo pontos
dados_artigos["Visualizações"] = dados_artigos["Visualizações"].str.replace(".", "")

In [71]:
# Trantando Coluna Visualizações convertendo de string para int
dados_artigos["Visualizações"] = pd.to_numeric(dados_artigos["Visualizações"])

### Gerando informações

In [74]:
# Total de Clique
dados_artigos["TotalCliques"] = dados_artigos["Clicks pagos"] + dados_artigos["Clicks redes sociais"]
dados_artigos["TotalCliques"]

0        889.242
1        708.374
2        532.416
3        491.405
4        384.634
          ...
14099      0.000
14100      0.000
14101      0.000
14102      0.000
14103      0.000
Name: TotalCliques, Length: 14104, dtype: float64

In [76]:
# Percentual de Cliques obtidos nas redes sociais
dados_artigos["PercentualCliqueRedesSociais"] = (dados_artigos["Clicks redes sociais"] / dados_artigos["TotalCliques"]) * 100
dados_artigos["PercentualCliqueRedesSociais"]

0        100.0
1        100.0
2        100.0
3        100.0
4        100.0
         ...
14099      NaN
14100      NaN
14101      NaN
14102      NaN
14103      NaN
Name: PercentualCliqueRedesSociais, Length: 14104, dtype: float64

In [78]:
# Percentual CTR Click Through Rate = Total de Clique / Total de Visualizações
dados_artigos["CTR"] = (dados_artigos["TotalCliques"] / dados_artigos["Visualizações"]) * 100
dados_artigos["CTR"]

0        0.051999
1        0.051996
2        0.051996
3        0.051995
4        0.051999
           ...
14099         NaN
14100         NaN
14101         NaN
14102         NaN
14103         NaN
Name: CTR, Length: 14104, dtype: float64

In [80]:
# Percentual de vezes pesquisados
dados_artigos["PercentualVezPesquisado"] = (dados_artigos["Vezes pesquisados"] / dados_artigos["Visualizações"]) * 100
dados_artigos["PercentualVezPesquisado"]

0        0.009000
1        0.008999
2        0.008999
3        0.008999
4        0.009000
           ...
14099         NaN
14100         NaN
14101         NaN
14102         NaN
14103         NaN
Name: PercentualVezPesquisado, Length: 14104, dtype: float64

In [83]:
# Percentual de cliques pagos
dados_artigos["PercentualCliquesPagos"] = (dados_artigos["Clicks pagos"] / dados_artigos["Visualizações"]) * 100
dados_artigos["PercentualCliquesPagos"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
14099    NaN
14100    NaN
14101    NaN
14102    NaN
14103    NaN
Name: PercentualCliquesPagos, Length: 14104, dtype: float64

In [85]:
# percentual de visitas diretas
dados_artigos["PercentualVisitasDiritas"] = (dados_artigos["Visitas Diretas"] / dados_artigos["Visualizações"]) * 100
dados_artigos["PercentualVisitasDiritas"]

0        0.020000
1        0.019999
2        0.019998
3        0.019998
4        0.020000
           ...
14099         NaN
14100         NaN
14101         NaN
14102         NaN
14103         NaN
Name: PercentualVisitasDiritas, Length: 14104, dtype: float64